@media  screen and (max-width:1005px) {

    .navbar{
        position: relative;
    }

    .menu{


        display: none;
    }

    .logo{
        margin: 0;
        text-align: center;
    }
    
    .section{
        padding-top: 50px;
    }
    
    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    
    .headline p{
        text-align: center;
    }
    
    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
 
    .card{
        width: 100%;
    }



}


@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #180f4A;
    font-size: 34px;
    
    
}



.navbar{
    width: 100%;
    background: white;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    
    

}

.logo{
    flex: 10%;
    text-align: center;
    margin-left: 9%;
    cursor: pointer;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
   /* border: 1px solid black;*/
}

.menu a{
    text-decoration: none;
    color: #180f4A;
    font-size: 20px;
    padding: 20px 16px;

}

.menu a:hover{
    color: #FF2978;
    border-top: 4px solid #180f4A;
}

#botao{
    color: white;
    background: #180f4A;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #FF2978;
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border: 1px solid black; */
    
    
}

.headline p{
    text-align: left;
}

.section{
    height: auto;
    flex-flow: row wrap;
    display: flex;
    background: white;
    align-items:center ;
    padding-top: 100px;
    /* border: 1px solid black; */
    
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /*border: 1px solid red;*/
    text-align: center;
    
}

.contact-btn{
    background: #FF2978;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.contact-btn:hover{

    background: #180f4A;

}

.img-headline img{
    max-width: 90%;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #180f4A;
    margin: 0;
    padding: 0;
}

.letras-espacadas{
    letter-spacing: 15px;
}

#agencia{
    font-size: 78px;
    
}

.section-final{
    margin-top: 80px;
    /* border: 1px  solid black; */
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    padding: 5%;
    text-align: center;
    
}

.section-final h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    color: #180f4A;
    
}

.servicos{

    margin-top: 5%;
    display: inline-block;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #FF2978;
    border-radius: 10px;
    cursor: pointer;
}

.texto-oculto{
    display: none;

}

.texto-oculto h3{
    margin-bottom: 20px;
}


.card:hover{
    background: #FF2978;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
     display: block;
}

footer{
    margin-top: 100px;
    height: 300px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid #FF2978;

}

.logo-rodape{
    padding: 100px;
    color: white;
}

 .agencia{
    color: white;
    font-family: 'Lobster', cursive;
    
}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
    
}

.whats-img{
    width: 80px;
}
